<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" conttent="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



        <title>Console</title>
    </head>
    <body oncopy='return false;'>


    <script type="text/javascript" src="{{ url_for('static',filename='js/joy.js') }}"></script>
    <div id = "fixed">
        <div id="joyDiv" style="width:200px;height:200px;margin:10px"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
    <style>
        * {padding: 0; margin:0}
        canvas{background: #eee; display: block; margin: 0 auto;}
    </style>
        
    <iframe hidden name="hiddeniframe"></iframe>
    </body>
    
    <canvas id="myCanvas" width="480" height="480"></canvas>
    <p>
        speed:{{speed}}
    </p>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
     

        ctx.beginPath();
        ctx.arc(240, 240, 100, 0 ,Math.PI*180*{{ speed|tojson }}, false);
        ctx.fillStyle = "green";
        ctx.fill();
        ctx.closePath();
    </script>
</html>