<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" conttent="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



        <title>Document</title>
    </head>
    <body oncopy='return false;'>


    <script type="text/javascript" src="{{ url_for('static',filename='js/joy.js') }}"></script>
    <div id = "fixed">
        <div id="joyDiv" style="width:200px;height:200px;margin:10px"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <ifname hidden name="hiddeniframe"></ifname>
    </body>
</html>